python-decouple==3.8
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.2
Django==5.2.4
django-cors-headers==4.7.0
django-simple-captcha==0.6.2
django-telegram-login==0.2.3
idna==3.10
pillow==11.3.0
pycparser==2.22
pytz==2025.2
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
python-dotenv==1.2.2
mysqlclient==2.2.8
decouple==0.0.7